@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {

	margin: 0;
	padding: 0;
	
}


body {

	background: rgb(10,12,27);
	font-family: 'Inter', sans-serif;
	height: 100vh;
	
}

h1, h2 {

	color: #fff;
}

p {

	color: rgb(173, 172, 189);
	line-height: 30px;
}

.box {

	max-width: 1240px;
	margin: 20% auto;
	background: rgb(28, 25, 56);
	display: flex;
	border-radius: 10px;

}

.text {

	padding: 80px;
	display: flex;
	flex-direction: column;
}

.text h1 {

	font-size: 40px;
	margin-bottom: 30px;
}

.text span {

	color: rgb(176, 96, 227);
}

.quality {

	display: flex;
	margin-top: 80px;
	justify-content: space-between;
}

.boxes {

	margin-right: 60px;
}

.boxes p {

	letter-spacing: 2px;
}

#work, #work img {

	width: 600px;
	height: 515px;
	border-radius: 0 10px 10px 0;
}

#work {

	background: hsl(277, 64%, 61%);

}

#work img {

	opacity: 0.6;
	filter: contrast(100%);
	filter: brightness(100%);
	
}



@media screen and (max-width: 500px) {

	.box, .quality, .text{

		display: flex;
		flex-direction: column;
		
	}

	.box {

		width: 90%;
	}

	#work, #work img {

		width: 100%;
		height: 280px;
		border-radius: 10px 10px 0 0; 
		order: -1;

	}

	.text {

		
		text-align: center;
		padding: 40px;
		margin: 0 auto;
	}

	.text h1 {

		font-size: 23px;
		line-height: 32px;

		
	}

	.text p {

		font-size: 15px;
	}

	.quality {

		margin-top: 40px;
		display: flex;
	}

	.boxes {

		margin-top: 30px;
		margin-right: 0;
	}

	.boxes p {

		font-size: 14px;
	}


}